/* Barra lateral dentro da header */
.header {
  display: grid; /* Organiza os elementos horizontalmente */
  flex-direction: column; /* Organiza os elementos horizontalmente */
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  align-items: center;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  margin: auto; /* Centraliza no meio da página */
  text-align: center;
}

.sidebar h1 {
color:#f9f9f9;
}


/* Conteúdo principal dentro da header */
.header-content {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  margin: auto; /* Centraliza no meio da página */
}

/* Imagem dentro da header */
.header img {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  align-items: center;
  width: 100%;
  max-width: 600px;
  height: auto;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

/* Estilização do título principal */
.header h1 {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 70px;
  color: #814256;
  margin: 0;
  letter-spacing: -4px;
  margin-bottom: -5px;
}

/* Estilização do subtítulo */
.header h2 {
  font-family: "League Spartan", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #814256;
  margin: 5px 0 0;
  letter-spacing: 6px;
  margin-top: -3px;
}

.data-view h2 {
  font-family: "League Spartan", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #814256;
  margin: 5px 0 0;
  letter-spacing: 6px;
  margin-top: 10px;
}
.data-view p {
  font-family: "League Spartan", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #814256;
  margin: 5px 0 0;
  letter-spacing: 6px;
  margin-top: 10px;
}
.data-view {
  grid-column: 3 / 3;
  grid-row: 0 / 10; /* Sidebar ocupa as duas linhas verticalmente */
  display: grid;
  justify-content: flex-start;
  padding: 10px;
  border-radius: 8px;
  color: #814256;
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100; /* Escolha entre 300, 400, 700, etc. */
  font-style: normal;
  flex-direction: column;
}

/* Importando a fonte Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

/* Sidebar fixa à direita */
.sidebar {
  margin-top: -100px;
  grid-column: 3 / 3;
  grid-row: 1 / 10; /* Sidebar ocupa as duas linhas verticalmente */
  height: 80vh; /* Ajusta a altura da sidebar */
  background: #814256;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 2px  0 2px; /* Arredonda apenas o lado esquerdo */
  transition: width 0.3s ease-in-out; /* Suaviza a mudança de tamanho */
}

/* Ajuste para telas médias-grandes */
@media (min-width: 1200px) {
  .sidebar {
    width: 350px; /* Aumenta a largura em desktops grandes */
    padding: 150px; /* Ajusta o espaçamento */
  }
}

/* Ajuste para telas muito grandes */
@media (min-width: 1600px) {
  .sidebar {
    width: 600px; /* Aumenta ainda mais em telas ultra-wide */
    padding: 110px; /* Ajusta o espaçamento */
  }
}

/* Ajuste para telas extremamente grandes */
@media (min-width: 1900px) {
  .sidebar {
    width: 80%; /* Reduz ainda mais em dispositivos menores */
    padding: 50px; /* Ajusta o espaçamento */
  }
}

/* Ajuste para tablets */
@media (max-width: 1024px) {
  .sidebar {
    width: 80%; /* Reduz ainda mais em dispositivos menores */
    padding: 50px; /* Ajusta o espaçamento */
  }
}

/* Ajuste para celulares médios */
@media (max-width: 768px) {
  .sidebar {
    width: 70%; /* Reduz ainda mais em dispositivos menores */
    padding: 50px; /* Ajusta o espaçamento */
  }

  .sidebar a {
    font-size: 19px; /* Diminui o tamanho da fonte dos links */
  }

  .sidebar p {
    font-size: 8px; 
  }
}

/* Ajuste para celulares muito pequenos */
@media (max-width: 480px) {
  .sidebar {
    width: 120px; /* Sidebar bem estreita para telas muito pequenas */
    padding: 10px;
  }

  .sidebar a {
    font-size: 10px; /* Diminui ainda mais os links */
    padding: 3px;
  }
  .sidebar p {
    font-size: 5px; 
  }
}

/* Estilização dos links dentro da sidebar */
.sidebar a {
  font-family: "League Spartan", sans-serif;
  font-size: 17px;
  font-weight: 300;
  padding: 20px;
  color: white;
  text-decoration: none;
  display: block;
  width: 120%;
  text-align: center;
  letter-spacing: 2px; /* Espaçamento entre as letras */
  margin-top: 5px;
  margin-bottom: 4px;
  transition: background 0.3s, color 0.3s;
}

.sidebar p {
  padding: 6px;
  color: white;
}


/* Efeito hover */
.sidebar a:hover {
  background: white;
  color: #814256;
}
.col-right .data-view {
  background: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  height: 100%;
}


.main {
  display: content;
  /* aqui definimos 2 colunas de mesma largura: */
  grid-template-columns: 1fr 1fr;
  /* espaço opcional entre colunas e linhas */
  gap: 20px;
}


body {
  height: 10%; 
  margin: 0;
  font-family: "League Spartan", sans-serif;
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: auto 1fr; /* Ajusta a altura da barra lateral */
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Importando a fonte do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;700&display=swap');



.main {
  display: content;
  /* aqui definimos 2 colunas de mesma largura: */
  grid-template-columns: 1fr 1fr;
  /* espaço opcional entre colunas e linhas */
  gap: 20px;
}


.container {
  display: grid;
  justify-content: center;
  align-items: center;
  padding-top: 10dvh;
}

.container h1 {
  font-optical-sizing: auto;
  font-size: 40px;
  font-size: 40px;
  margin-bottom: 20px;
  color: #814256;}

svg {
  grid-column: 1 / 2;
  grid-row: 2 / 2;
  display: grid;
  width: 100%;
  max-width: 700px;
  margin-right: 100px;
}

.norte { fill: #814256; }
.nordeste { fill: #814256; }
.centro-oeste { fill: #814256; }
.sudeste { fill: #814256; }
.sul { fill: #814256; }

path {
  fill: #814256;
  stroke: white;
  stroke-width: 1px;
}

path:hover {
  fill: #716f35;
  stroke: #a66940;
  stroke-width: 3px;
  transition: fill 0.4s;
}

.tooltip {
  pointer-events: none;
  position: absolute;
  font-size: 18px;
  text-align: center;
  background: white;
  padding: 10px 15px;
  z-index: 5;
  height: 30px;
  line-height: 30px;
  color: #21669e;
  border-radius: 5px;
  transform: translateX(-50%);
  display: none;
}

.tooltip.active {
  display: block;
}

.tooltip:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
}

.container-info {
  grid-column: 1 / 3;
  grid-row: 3 / 10; /* Sidebar ocupa as duas linhas verticalmente */
  display: flex ;
  background: #f9f9f9;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  padding: 50px;
  box-shadow: 10px 2px 10px rgba(0, 0, 0, 0.1);
  max-height: 400px; /* Define um limite máximo de altura */
}

/* Grid para os Cards */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 colunas (esquerda maior que direita) */
    height: 100vh;                  /* Ocupa a altura total da janela */  
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Define o espaçamento entre os cards */
    background: white;
    border-radius: 10px;

    }

.card {
  background: white;
  display: inline-block;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  text-align: center;
}

.card:hover {
  transform: scale(1.05);
}

/* Ajuste da Imagem nos Cards */
.card img {
  width: 100%;
  height: auto;
  max-height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

/* Responsividade: 1 Card por linha em telas pequenas */
@media (max-width: 600px) {
  .card {
      width: 100%;
      max-width: 100%; /* A imagem nunca será maior que o container */
      max-height: 300px; /* Define um limite de altura */
      object-fit: contain; /* Mantém a proporção da imagem */
      border-radius: 15px; /* Adiciona bordas arredondadas */
  }
}

