body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7c89d3;
}
.container{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}
svg{
  width: 30%;
}
.norte {
  fill: #63ab3f;
}
.nordeste {
  fill: #f0b541;
}
.centro-oeste {
  fill: #ffae70;
}
.sudeste {
  fill: #4fa4b8;
}
.sul {
  fill: #686f99;
}
path {
  fill: #1da1f2;
  stroke: white;
  stroke-width: 1px;
}
path:hover {
  fill: purple;
  stroke: red;
  stroke-width: 3px;
  transition: fill 0.4s;
}
.tooltip {
  pointer-events: none;
  position: absolute;
  font-size: 18px;
  text-align: center;
  background: white;
  padding: 10px 15px;
  z-index: 5;
  height: 30px;
  line-height: 30px;
  margin: 0 auto;
  color: #21669e;
  border-radius: 5px;
  transform: translateX(-50%);
  display: none;
}
.tooltip.active {
  display: block;
}
.tooltip:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
}
#resultado {
  margin-top: 20px;
  padding: 15px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  display: inline-block;
  text-align: left;
  max-width: 600px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.json-container {
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  text-align: left;
}
.json-container p {
  font-size: 16px;
  color: #333;
  margin: 5px 0;
}
.json-container ul {
  padding-left: 20px;
}
.json-container a {
  color: #007BFF;
  text-decoration: none;
}
.json-container a:hover {
  text-decoration: underline;
}
.imagem {
  width: 100px;
  height: auto;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.erro {
  color: red;
  font-weight: bold;
}
